@import "./variables";

.button__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  border: solid 1px black;
  height: 80%;
  width: 90%;
  margin: auto;
}

.calculator__buttons {
  background-color: $primary-button-color;
}
